@model IEnumerable<MaterialSearchDTO>

<table>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Type</th>
        </tr>
        @foreach(MaterialSearchDTO material in Model)
        {
            <tr>
                <td>@material.Title</td>
                <td>@material.Author.Name</td>
                <td>@material.Type.Name</td>
                <td>
                    <a asp-action="details" asp-route-id="@material.Id" 
                        class="btn btn-success m-1">
                        Details
                    </a>
                </td>
                <td>
                    <a asp-action="edit" asp-route-id="@material.Id" 
                        class="btn btn-warning m-1">
                        Edit
                    </a>
                </td>
                <td>
                    <a asp-action="delete" asp-route-id="@material.Id" 
                        class="btn btn-danger m-1"
                        onclick="return confirm('Are you sure you want to delete this Material?')">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </table>