@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home/Index.css" asp-append-version="true" />

<!--Home Section-->
<header id="home-section">
  <div class="dark-overlay">
      <div class="home-inner container">
            @if (!User.Identity.IsAuthenticated)
            {
              <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-8 d-none d-md-block">
                        <h2 class="display-5">Here you will find info about all educational materials you <strong>will ever need!</strong></h2>
                    
                        <div class="d-flex align-items-center mt-5">
                            <div class="p-4 align-self-start">
                                <i class="icon-check icon-3x"></i>
                            </div>
                            <div class="align-self-center ps-4">
                                <h4 class="m-0 p-0">@Model.MaterialCounter Materials available</h4>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="p-4 align-self-start">
                                <i class="icon-check icon-3x"></i>
                            </div>
                            <div class="align-self-center ps-4">
                                <h4 class="m-0 p-0">Written by @Model.AuthorCounter Authors</h4>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="p-4 align-self-start">
                                <i class="icon-check icon-3x"></i>
                            </div>
                            <div class="align-self-center ps-4">
                                <h4 class="m-0 p-0">Divided into @Model.TypeCounter Categories</h4>
                            </div>
                        </div>
                    </div>
     
                    <div class="col-md-4 col-lg-3 col-8 mt-5">
                         <div class="card text-center home-card">
                            <div class="card-body d-flex flex-column justify-content-around" style="height: 20em">
                                <div>
                                      <h3 class="card-title"><b>Join us!</b></h3>
                                      <h5 class="card-subtitle mb-2 text-purple"><b>Start your Matedu journey today!</b></h5>
                                </div>
                                <div>
                                      <p class="card-text">By joining the community you can express your opinions on educational materials</p>
                                </div>
                                <div>
                                      <a class="btn btn-yellow" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                      <a class="btn btn-yellow" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </div> 
                            </div>
                          </div>
                     </div>                         
                </div>
            }
            else
            {
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-8">
                        <h2 class="display-5">Here you will find info about all educational materials you <strong>will ever need!</strong></h2>
                    
                        <div class="d-flex align-items-center mt-5">
                            <div class="p-4 align-self-start">
                                <i class="icon-check icon-3x"></i>
                            </div>
                            <div class="align-self-center ps-4">
                                <h4 class="m-0 p-0"><u>@Model.MaterialCounter</u> Materials available</h4>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="p-4 align-self-start">
                                <i class="icon-check icon-3x"></i>
                            </div>
                            <div class="align-self-center ps-4">
                                <h4 class="m-0 p-0">Written by <u>@Model.AuthorCounter</u> Authors</h4>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="p-4 align-self-start">
                                <i class="icon-check icon-3x"></i>
                            </div>
                            <div class="align-self-center ps-4">
                                <h4 class="m-0 p-0">Divided into <u>@Model.TypeCounter</u> Categories</h4>
                            </div>
                        </div>
                    </div>                         
                </div>
            }
            
      </div>
  </div>
</header>
<!--Explore Section-->
<div class="d-flex flex-column align-items-center py-5">
    <div class="mb-5">
        <h2 >Explore all Educational Materials!</h2>
    </div>
    <div class="row w-100 d-flex flex-column flex-md-row justify-content-around align-items-center">
        @foreach(var material in Model.TopMaterials)
        {
           <div class="col-6 col-md-3 col-lg-2  mb-4">
            <div class="card text-center home-card">
                <div class="card-body d-flex flex-column justify-content-around" style="height: 20em">
                    <div>
                          <h3 class="card-title"><b>@material.Title</b></h3>
                          <h5 class="card-subtitle mb-2 text-purple"><b>@material.Type.Name</b></h5>
                    </div>
                    <div>
                          <h6 class="card-text">Autor: @material.Author.Name <br />Score: @material.AverageScore / 10</h6>
                    </div>
                    <div>
                          <a class="btn btn-yellow" asp-controller="material" asp-action="details" asp-route-id="@material.Id">Details</a>
                    </div> 
                </div>
            </div>
        </div> 
        }
    </div>
    <a class="btn btn-green px-5 mt-5" asp-controller="Material" asp-action="Index">See more!</a>
</div>